.filtersWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 84px 258px;
  justify-content: center;
}

.filtersForm {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  align-items: end;
}

.labelsFilters {
  position: relative;
  width: 204px;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
}

.labelFilterMileage {
  width: 320px;
  display: flex;
  flex-direction: column;
}
.filterInputsWrapper {
  display: flex;
  position: relative;
}

.labelFilterMileage {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: var(--gray);
}

.inputPseudoPlaceholder {
  padding: 12px 0 12px 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
}

.filterInputFromWrapper {
  display: flex;
  width: 50%;
}

.filterMileageFromInput,
.filterMileageToInput {
  border-right: 1px solid var(--gray-light);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  padding: 12px 0 12px 4px;
  width: 100%;
}

.filterMileageFromInput {
  border-right: 1px solid var(--gray-light);
}

.filterMileageToInput {
  border-right: none;
}

.filtersSearchButton {
  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--white);
}

.filtersSearchButton:hover {
  background: var(--button-hover);
  cursor: pointer;
}

.filtersResetButton {
  display: block;
  border: 1px solid var(--button);
  border-radius: 12px;
  padding: 12px;
  width: 156px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: var(--main);
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.filtersResetButton:hover {
  border: 1px solid var(--button-hover);
  color: rgb(99, 29, 29);
}

@media screen and (min-width: 1440px) {
  .filtersWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 84px 258px;
  }
}
