:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-manrope);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  display: block;
  padding: 0;
  border: none;
}

input:focus,
input:active {
  outline: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  border: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
}

textarea {
  outline: none; /* прибирає стандартну синю рамку */
}

/* якщо потрібно повністю без рамки при фокусі */
textarea:focus {
  outline: none;
  border: none;
}

/* Styles for Mobile devices */
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}

/*   FLATPICKR   */

.flatpickr-calendar,
.flatpickr-calendar *,
.flatpickr-calendar *::before,
.flatpickr-calendar *::after {
  box-sizing: border-box;
}

.flatpickr-calendar {
  position: absolute;
  z-index: 999;
  border-radius: 12px;
  width: 276px;
  /*  height: 274px; */
  border: 1px solid var(--button);
  padding: 12px;
  background: var(--white);
}

.flatpickr-calendar.arrowTop:before {
  border-bottom-color: var(--button);
}

.flatpickr-months {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  position: unset;
  padding: 0;
  display: flex;
  align-items: center;
}

.flatpickr-current-month input.cur-year {
  font-family: var(--second-family);
  font-weight: 600;

  line-height: 120%;
  text-align: left;
  color: var(--main);
}

.flatpickr-current-month {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--main);
}

.flatpickr-weekdays {
  display: flex;
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--button);
}

.flatpickr-days {
  width: 252px;
}

.dayContainer {
  min-width: unset;
  padding-top: 12px;
  width: 252px;
  /*  height: 176px; */
  display: flex;
  flex-wrap: wrap;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: var(--main);
}

.flatpickr-day {
  width: 36px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
}

.flatpickr-day:hover {
  background: var(--button);
  color: var(--inputs);
}

.flatpickr-day.selected {
  border-radius: 32px;
  width: 36px;
  height: 32px;
  background: var(--button);
}

/* .flatpickr-months {
}



.flatpickr-current-month span.cur-month {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--main);
  margin: 0;
}

.flatpickr-current-month input.cur-year {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--main);

  padding: 0;
}

.flatpickr-weekdaycontainer {
  flex: none;
  display: flex;
  justify-content: center;
}

.flatpickr-weekdays .flatpickr-weekdaycontainer {
  flex: none;
  width: 100%;
}

.flatpickr-weekdays {
  flex: none;
  width: 100%;
  border-bottom: 1px solid #101828;
}

span.flatpickr-weekday {
  flex: none;

  font-family: var(--second-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;

  color: var(--gray);
  width: 36px;
}

.dayContainer {
  flex: none;

  width: 276px;
  justify-content: unset;
  min-width: unset;
}

.flatpickr-days {
  width: unset;
}
.flatpickr-day {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main);
  width: 36px;
  height: 32px;
}


 */
